body {
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    text-decoration: none;
}

/* don't need this if using eric-meyer-css-reset.css
ul {
    list-style: none;
}
*/

li {
    float: left;
}

header {
    font-size: 13px;
    padding: 15px;
}

a.header-link {
    color: rgb(65, 65, 65);
    padding: 9px;
}

footer {
    position: fixed;
    bottom: 0;
    /* 980px is the width at which the real google.com stops shrinking */
    width: 100%;
    max-width: 100%;
    min-width: 980px;
    height: 42px;
    line-height: 42px;
    background-color: rgb(242, 242, 242);
    font-size: 14px;
    /* borders, for testing purposes
    border-style: solid;
    border-color: black;
    border-width: 2px;
    */
}

#footer-menu {
    padding: 0px 15px 0px 15px;
}

a.footer-link {
    color: rgb(95, 99, 104);
    margin: 0px 14px 0px 14px;
    /* padding: 5px; */
    /* borders, for testing purposes
    border-style: solid;
    border-color: black;
    border-width: 2px;
    */
}